<!-- Page Banner -->
<div
    class="page-banner-area three ptb-100"
    style="background-image: url(../../../../assets/images/bannerImgs/Membership.png);
    width: 100%; height: 82vh; object-fit: contain; overflow: hidden"
>
    <div class="container d-flex">
        <div class="page-banner-content">
            <h2 class="headingTxt">MEMBERS ONLY CLUB
            </h2>
            <ul class="pages-list">
                <li><a routerLink="/home">Home</a></li>
                <li class="headingTxt">Membership</li>
            </ul>
        </div>
        <!-- <div class="container d-flex justify-content-center align-items-center">
            <h6 class="mt-75">Discover beautiful skin at Coastal Aesthetics with our membership program and receive special members only pricing on full price/retail price products, items, packages, and treatments.</h6>
        </div> -->
    </div>
</div>

<div class="page-banner-area osteoText ptb-100">
    <div class="container">
        <p>Discover beautiful skin at Modern Regerative Health with our membership program and receive special members only pricing on full price/retail price products, items, packages, and treatments.</p>
    </div>
</div>


<div class=" container d-flex  ptb-75 flex-column bg-eef9ff membershipcolor justify-content-center align-items-center dental-tourism-choose-content ">
    <h2>Membership Benefits</h2>
    <div class="choose-inner-content me-5 ">
        <!-- <i class='bx bxs-badge-check'></i> -->
        <h5 >Treat yourself to the best with our membership program's exclusive deals</h5>
    </div> 
</div>

<div class="container pt-100 pb-75">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/pricing.png" alt="choose-image">
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <h2>Exclusive Pricing</h2>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>10% Off Skincare
                    </h5>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>
                        10% Off Packages
                    </h5>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>$99 Maintenance Sessions
                    </h5>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>   
                        $100 Off Dermal Filler
                    </h5>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>   
                        $2/unit Off Botox/Dysport/Xeomin
                    </h5>
                </div>
            
            </div>
        </div>

    </div>
</div>
<div class="container pt-100 pb-75">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <h2>12 Month Member Anniversary Bonus
                </h2>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>2 Areas of Botox</h5>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>1 Syringe of Filler</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/membership[.png" alt="choose-image">
                <!-- <button class="video-btn" (click)="openPopup()">
                    <i class='bx bx-play'></i>
                </button> -->
            </div>
        </div>

    </div>
</div>

<div class=" container d-flex  ptb-75 flex-column bg-eef9ff membershipcolor justify-content-center align-items-center dental-tourism-choose-content ">
    <h2>Membership Pricing</h2>
    <h4>ONLY $99 PER MONTH</h4>
    <div class="choose-inner-content me-5 ">
        <!-- <i class='bx bxs-badge-check'></i> -->
        <h5 >30 day's notice is required for cancellation</h5>
        <h5 >Treatments & pricing are subject to change</h5>
        <h5 >Exclusive invite to events & product launches</h5>
    </div> 
</div>


<app-appointment></app-appointment>

