<!-- Page Banner -->
<div class="page-banner-area three ptb-100" style="background-image: url(../../../../assets/images/bannerImgs/Meet\ our\ team.png);
width: 100%; height: 82vh; object-fit: contain; overflow: hidden">
    <div class="container">
        <div class="page-banner-content">
            <h2>Meet Our Team</h2>
            <ul class="pages-list">
                <li><a routerLink="/home">Home</a></li>
                <li>Meet Our Team</li>
            </ul>
        </div>
    </div>
</div>

<div class="page-banner-area osteoText ptb-100">
    <div class="container">
        <h2>About Us</h2>
        <!-- <p>Welcome to Modern Regenerative Health, your trusted partner in healthcare innovation. Rooted in years of
            expertise, our Integrated Medical Team is committed to providing personalized, all-natural, and non-invasive
            healthcare solutions tailored to your individual needs.</p> -->
        <p>
            Welcome! Our team at Modern Regenerative Health will work with you to discover therapies that support the body in repairing and restoring natural well-being.
        </p>
    </div>
</div>

<!-- img content -->
<div class="container pt-100 pb-75">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/wt set us apart.png" alt="choose-image">
                <!-- <button class="video-btn" (click)="openPopup()">
                    <i class='bx bx-play'></i>
                </button> -->
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <h2>What Sets Us Apart</h2>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>Inside-out philosophy of care, focusing on root causes, not just symptoms.
                    </h5>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>State-of-the-art non-surgical knee relief protocols to avoid total joint replacement.
                    </h5>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>Advanced therapies like Platelet-Rich Plasma (PRP) for enhanced beauty and wellness with
                        accelerated healing and recovery.
                    </h5>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>Comprehensive services to address your individual needs.
                    </h5>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container pt-100 pb-75">
    <div class="row align-items-center">

        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <h2>Our Mission</h2>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>Our mission is to offer exceptional healthcare that emphasizes patient education and holistic
                        wellbeing.
                    </h5>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>
                        By seamlessly integrating traditional and regenerative medicine, we design treatment programs
                        aimed at relieving pain and targeting the underlying causes of your medical issues.
                    </h5>
                </div>
                <!-- <i class='bx bxs-badge-check'></i> -->

            </div>

        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/mission.png" alt="choose-image">
                <!-- <button class="video-btn" (click)="openPopup()">
                    <i class='bx bx-play'></i>
                </button> -->
            </div>
        </div>
    </div>
</div>
<div class="container pt-100 pb-75">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/expertice.png" alt="choose-image">
                <!-- <button class="video-btn" (click)="openPopup()">
                    <i class='bx bx-play'></i>
                </button> -->
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <h2>Our Expertise</h2>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>Inside-out philosophy of care, focusing on root causes, not just symptoms.</h5>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>State-of-the-art non-surgical knee relief protocols to avoid total knee replacement, including
                        the Advanced Arthritis Relief Protocol™ (AARP), which is covered by Medicare.</h5>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>Advanced therapies like Platelet-Rich Plasma (PRP) for enhanced beauty and wellness with
                        accelerated healing and recovery.</h5>
                </div>
                <!-- <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>Comprehensive services to address your individual needs, including functional medicine, nutrition, exercise therapy, and lifestyle counseling.</h5>
                </div> -->
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>Integrative approach to healing, combining the best of conventional and alternative medicine.
                    </h5>
                </div>
                <!-- <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>Expertise in medical billing, coding, and compliance to streamline your healthcare experience.</h5>
                </div> -->
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h5>Commitment to helping you achieve your optimal health and well-being.</h5>
                </div>
            </div>
        </div>

    </div>
</div>


<app-appointment></app-appointment>