<app-homefive-banner></app-homefive-banner>

<app-features></app-features>

<app-about></app-about>

<app-skin-care-services></app-skin-care-services>

<app-why-choose-us></app-why-choose-us>

<div class="container-fluid bg-eff8fb">
    <div class="container pt-100 pb-75">
        <div class="row align-items-center">
            <!-- <div class="col-lg-6 col-md-12">
                <div class="dental-tourism-choose-image">
                    <img src="../../../../assets/images/treatment/osteo.png" alt="choose-image">
                </div>
            </div> -->
            <div class="col-lg-5 col-md-12">
                <div class="skin-care-dry-image">
                    <img src="../../../../assets/images/treatment/osteo.png" alt="image">
                </div>
            </div>
            <div class="col-lg-1 col-md-12">
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="dental-tourism-choose-content">
                    <!-- <span class="sub-title">
                        <i class="flaticon-198-hashtag-1"></i>
                        Why Choose Us
                    </span> -->
                    <h2>Precision Joint Therapy - Minimally Invasive Injection
                    </h2>
                    <p>We offer one of the most effective treatment, which is a combination of Fluoroscopy, Arthrogram, and AARP injection</p>
                    <div class="choose-inner-content">
                        <i class='bx bxs-badge-check'></i>
                        <h4>Fluoroscopy</h4>
                        <p>Real-time X-ray imaging for accurate diagnosis of joint pain and inflammation.</p>
                    </div>
                    <div class="choose-inner-content">
                        <i class='bx bxs-badge-check'></i>
                        <h4>Arthrogram</h4>
                        <p>Detailed view of joint structures with contrast dye to identify tears, loose bodies, and inflammation.</p>
                    </div>
                    <div class="choose-inner-content">
                        <i class='bx bxs-badge-check'></i>
                        <h4>AARP injection</h4>
                        <p>Powerful healing agent with concentrated platelets, lubricant to reduce friction and pain, and medication to reduce inflammation.</p>
                    </div>
                    <br>
                    <p>
                        When used in combination, it can be a highly effective treatment for your osteoarthritis pain. This treatment combination can help to reduce pain, improve function, and slow the progression of the condition.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-100 pb-75">
    <div class="row align-items-center">
  
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <!-- <span class="sub-title">
                    <i class="flaticon-198-hashtag-1"></i>
                    Why Choose Us
                </span> -->
                <h2>Software Therapy - Completely Non Invasive Treatment</h2>
                <p>SoftWave UroGold's patented technology and protocols offers providers versatility and innovation for long term solutions</p>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Non-invasive
                    </h4>
                    <!-- <p>PRP (Platelet Rich Plasma) treatment stimulates the 
                        generation of collagen and elastin, vital for firmer and younger-looking skin. It's a 
                        fast, safe, and chemical-free procedure that doesn't require surgery or medication.
                    </p> -->
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Quick treatment times
                    </h4>
                    <!-- <p>PRP skin needling, a non-invasive treatment, leverages the 
                        healing power of your own blood to address various skin conditions, including stretch 
                        marks. It's a safe and efficient procedure typically performed by registered nurses in 
                        hygienic clinics.
                    </p> -->
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Fewer treatments
                    </h4>
                    <!-- <p>PRP for stretch marks can also help with wrinkles, fine lines, 
                        acne scarring, uneven skin tone, and loose or sagging skin. Appointments are quick 
                        (30-45 minutes) with minimal recovery time.
                    </p> -->
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>No side effects
                    </h4>
                    <!-- <p>A small blood sample is processed and concentrated to 
                        create a healing PRP solution, applied to the target area using a specialized 
                        microneedler. Red LED light reduces inflammation and speeds up healing post-treatment.
                    </p> -->
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/tissue regen equipment.png" alt="choose-image">
            </div>
        </div> -->
        <div class="col-lg-1 col-md-12">
        </div>
        <div class="col-lg-5 col-md-12">
            <div class="skin-care-dry-image">
                <img src="../../../../assets/images/treatment/tissue regen treatment.png" alt="image">
            </div>
        </div>

    </div>
</div>

<app-non-medical></app-non-medical>

<app-appointment></app-appointment>

<!-- <app-feedback></app-feedback> -->

<!-- <app-before-and-after></app-before-and-after> -->

<!-- <app-blog></app-blog> -->

<app-partner></app-partner>