<!-- <p>chemical-peel works!</p> -->
<div
    class="page-banner-area three ptb-100"
    style="background-image: url(../../../../assets/images/bannerImgs/chemical\ peels.png);
    width: 100%; height: 82vh; object-fit: contain; overflow: hidden"
>
    <div class="container">
        <div class="page-banner-content">
            <h2 class="headingTxt"> Chemical Peel</h2>
            <ul class="pages-list">
                <li><a routerLink="/home">Home</a></li>
                <li class="headingTxt">Chemical Peel</li>
            </ul>
        </div>
    </div>
</div>


<div class="page-banner-area osteoText ptb-100">
    <div class="container">
        <p>Unleash your best skin with The Perfect Derma Peel. This medium-depth treatment goes
            beyond the surface, tackling stubborn concerns like sun damage, acne scars, and uneven tone.
            Its powerful blend of ingredients delivers a brighter, smoother, and more youthful
            complexion in just one week, leaving you radiant and revitalized.</p>
    </div>
</div>

<!-- cards -->
<div class="skin-care-services-area pt-100 pb-75 bg-eff8fb">
    <div class="container">
        <div  class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/chemicalPeel" class="d-block">
                            <img src="../../../../assets/images//chemical peels/3 box/1.png" alt="image">
                        </a>
                 
                    </div>
                    <div class="services-content">
                        <h3 class="text-center">
                            <a routerLink="/chemicalPeel" >
                                <li routerLink="/chemicalPeel"  class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    <a>MEDICAL GRADE FORMULATION</a>
                                </li>
                            </a>
                        </h3>
                        <p class="text-center">Powerful ingredients include TCA, Kojic Acid, Retinoic Acid, Salicylic Acid, Phenol, Vitamin C and anti oxidant Glutathione. <br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/chemicalPeel" class="d-block">
                            <img class="prfImgs" src="../../../../assets/images/chemical peels/3 box/2.png" alt="image">
                        </a>
                      
                    </div>
                    <div class="services-content">
                        <h3 class="text-center">
                            <a routerLink="/chemicalPeel" >
                                SOLVE COMMON SKIN CONCERNS
                            </a>
                        </h3>
                        <p class="text-center">Sun Spots?  Acne scars? Dull or aging complexion? The Perfect Derma Peel delivers real results for All Skin Types and Ethnicities.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/chemicalPeel"  class="d-block">
                            <img class="prfImgs" src="../../../../assets/images/chemical peels/3 box/3.png" alt="image">
                        </a>
                
                    </div>
                    <div class="services-content">
                        <h3 class="text-center">
                            <a routerLink="/chemicalPeel" >
                                RESULTS IN 1 WEEK!
                            </a>
                        </h3>
                        <p class="text-center">A doctor can customize a treatment for every individual. Please click here to find a provider near you. <br><br><br>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- owl carosel -->

<div class="container-fluid p-5 mt-5">
    <!-- <div class="row align-items-center m-0">
        <div class="col-lg-6 col-md-12 p-0">
            <div class="skin-care-banner-content">
                <h1>Rejuvenate Naturally With Modern Regenerative Health</h1>
                <p>Your Gateway to Wellness & Beauty.</p>
                <a routerLink="/spaTreatments" class="default-btn two">View Treatments</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 p-0">
            <div class="skin-care-banner-image">
                <img src="../../../../../assets/images/home page/home img.png" alt="image">
            </div>
        </div>
    </div> -->
    <div class="skin-care-before-after-slides">
        <owl-carousel-o [options]="beforeAfterSlides">
            <ng-template carouselSlide>
                <div class="skin-care-before-after-card">
                    <img src="../../../../assets/images/chemical peels/chemical  peel gallery/1.png" alt="image">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="skin-care-before-after-card">
                    <img src="../../../../assets/images/chemical peels/chemical  peel gallery/2.png" alt="image">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="skin-care-before-after-card">
                    <img src="../../../../assets/images/chemical peels/chemical  peel gallery/3.png" alt="image">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="skin-care-before-after-card">
                    <img src="../../../../assets/images/chemical peels/chemical  peel gallery/4.png" alt="image">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="skin-care-before-after-card">
                    <img src="../../../../assets/images/chemical peels/chemical  peel gallery/5.png" alt="image">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="skin-care-before-after-card">
                    <img src="../../../../assets/images/chemical peels/chemical  peel gallery/6.png" alt="image">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="skin-care-before-after-card">
                    <img src="../../../../assets/images/chemical peels/chemical  peel gallery/7.png" alt="image">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="skin-care-before-after-card">
                    <img src="../../../../assets/images/chemical peels/chemical  peel gallery/10.png" alt="image">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="skin-care-before-after-card">
                    <img src="../../../../assets/images/chemical peels/chemical  peel gallery/11.png" alt="image">
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>    
</div>


<!-- FAQ -->
<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Frequently </span> Asked Questions</h3>
                    <!-- <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p> -->
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">


                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;" *ngFor="let item of faq">
                        <div class="card-header" id="headingOne" (click)="expand(item)">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{item.question}}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <!-- class="collapse" -->
                        <div  id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion" *ngIf="item.expand">
                            <div class="card-body">
                                {{item.answer}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a routerLink="/contact-us-3"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>