<!-- <div class="hospital-information-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-information-card  h-100">
                    <div class="content">
                        <div class="icon">
                            <i class='bx bx-map'></i>
                        </div>
                        <h3>Salem</h3>
                        <p>1 Stiles Rd, Salem, NH 03079</p>
                        <h3>Nashua</h3>
                        <p>155 Main Dunstable Rd, Nashua NH 03060</p>
                    </div>
                    <div class="shape">
                        <img src="assets/images/hospital/info-shape.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div> -->



<!-- <div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <img src="card1.jpg" class="card-img-top" alt="Card 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Card 1</h5>
                    <p class="card-text">Some text for Card 1.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card_hover">
                <img src="card2.jpg" class="card-img-top" alt="Card 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Location</h5>
                    <p class="card-text">1 Stiles Rd, Salem, NH 03079</p>
                    <h5 class="card-title"> Phone Phone</h5>
                    <p class="card-text">603 458 2322</p>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card_hover">
                <img src="card3.jpg" class="card-img-top" alt="Card 3 Image">
                <div class="card-body">
                    <h5 class="card-title">Location</h5>
                    <p class="card-text">155 Main Dunstable Rd, Nashua NH 03060</p>
                    <h5 class="card-title">Phone Phone</h5>
                    <p class="card-text">603 577 1965</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <img src="card4.jpg" class="card-img-top" alt="Card 4 Image">
                <div class="card-body">
                    <h5 class="card-title">Card 4</h5>
                    <p class="card-text">Some text for Card 4.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- 
<div class="container">
    <div  class="row justify-content-center">
        <div class="col-lg-4 col-sm-6">
            <div class="skin-care-services-card">
                <div class="services-content">
                    <h5 class="card-title">Location</h5>
                    <p class="card-text">1 Stiles Rd, Salem, NH 03079</p>
                    <h5 class="card-title"> Phone Phone</h5>
                    <p class="card-text">603 458 2322</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="skin-care-services-card">
                <div class="services-content">
                    <h5 class="card-title">Location</h5>
                    <p class="card-text">1 Stiles Rd, Salem, NH 03079</p>
                    <h5 class="card-title"> Phone Phone</h5>
                    <p class="card-text">603 458 2322</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="skin-care-services-card">
                <div class="services-content">
                    <h5 class="card-title">Location</h5>
                    <p class="card-text">1 Stiles Rd, Salem, NH 03079</p>
                    <h5 class="card-title"> Phone Phone</h5>
                    <p class="card-text">603 458 2322</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="skin-care-services-card">
                <div class="services-content">
                    <h5 class="card-title">Location</h5>
                    <p class="card-text">1 Stiles Rd, Salem, NH 03079</p>
                    <h5 class="card-title"> Phone Phone</h5>
                    <p class="card-text">603 458 2322</p>
                </div>
            </div>
        </div>

    
    </div>
</div> -->

<!-- 
<div class="container">
    <div class="row ">
        <div class="col-lg-6 col-sm-12">
            <div class="skin-care-services-card">
                <div class="services-content">
                    <h5 class="card-title">Location</h5>
                    <p class="card-text">1 Stiles Rd, Salem, NH 03079</p>
                    <h5 class="card-title">Phone</h5>
                    <p class="card-text">603 458 2322</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="skin-care-services-card">
                <div class="services-content">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2607.9487759606873!2d-71.2494542653155!3d42.77506370896963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3abcfae6ff085%3A0xb02f36e8f0c1714d!2s1%20Stiles%20Rd%2C%20Salem%2C%20NH%2003079%2C%20USA!5e0!3m2!1sen!2sin!4v1698910204621!5m2!1sen!2sin" width="550" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="skin-care-services-card">
                <div class="services-content">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2929.953033482797!2d-71.4895332!3d42.747045899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3b747fc2172e9%3A0xb93a4783ab8beff6!2s155%20Main%20Dunstable%20Rd%2C%20Nashua%2C%20NH%2003060%2C%20USA!5e0!3m2!1sen!2sin!4v1698910244921!5m2!1sen!2sin" width="550" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="skin-care-services-card">
                <div class="services-content">
                    <h5 class="card-title">Location</h5>
                    <p class="card-text"> 155 Main Dunstable Rd, Nashua, NH 03060</p>
                    <h5 class="card-title">Phone</h5>
                    <p class="card-text">603 577 1965</p>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Location</h5>
                    <p class="card-text">1 Stiles Rd, Salem, NH 03079</p>
                    <h5 class="card-title">Phone</h5>
                    <p class="card-text">603 458 2322</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2607.9487759606873!2d-71.2494542653155!3d42.77506370896963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3abcfae6ff085%3A0xb02f36e8f0c1714d!2s1%20Stiles%20Rd%2C%20Salem%2C%20NH%2003079%2C%20USA!5e0!3m2!1sen!2sin!4v1698910204621!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2929.953033482797!2d-71.4895332!3d42.747045899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3b747fc2172e9%3A0xb93a4783ab8beff6!2s155%20Main%20Dunstable%20Rd%2C%20Nashua%2C%20NH%2003060%2C%20USA!5e0!3m2!1sen!2sin!4v1698910244921!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Location</h5>
                    <p class="card-text"> 155 Main Dunstable Rd, Nashua, NH 03060</p>
                    <h5 class="card-title">Phone</h5>
                    <p class="card-text">603 577 1965</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--  bg-f7f7fd -->

<div class="container pt-75 pb-75 ">
    <div class="row d-flex justify-content-center align-items-center g-3">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Location</h5>
                    <p class="card-text">1 Stiles Rd, Salem, NH 03079</p>
                    <h5 class="card-title">Phone</h5>
                    <p class="card-text">603 458 2322</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2607.9487759606873!2d-71.2494542653155!3d42.77506370896963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3abcfae6ff085%3A0xb02f36e8f0c1714d!2s1%20Stiles%20Rd%2C%20Salem%2C%20NH%2003079%2C%20USA!5e0!3m2!1sen!2sin!4v1698910204621!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-6 col-sm-12">
            <div class="card ">
                <div class="card-body">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2929.953033482797!2d-71.4895332!3d42.747045899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3b747fc2172e9%3A0xb93a4783ab8beff6!2s155%20Main%20Dunstable%20Rd%2C%20Nashua%2C%20NH%2003060%2C%20USA!5e0!3m2!1sen!2sin!4v1698910244921!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Location</h5>
                    <p class="card-text">155 Main Dunstable Rd, Nashua, NH 03060</p>
                    <h5 class="card-title">Phone</h5>
                    <p class="card-text">603 577 1965</p>
                </div>
            </div>
        </div> -->
    </div>
</div>


  
  

