.hospital-information-area {
    background: linear-gradient(90deg, #19ABAE 0.39%, #3DBD8D 101.54%);
}
.hospital-information-card {
    background: #fffdfd;
    border-radius: 10px;
    padding: 30px 25px;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    .content {
        position: relative;
        padding-left: 105px;

        .icon {
            left: 0;
            top: 50%;
            width: 85px;
            height: 85px;
            font-size: 45px;
            line-height: 90px;
            position: absolute;
            text-align: center;
            border-radius: 50px;
            color: var(--white-color);
            transform: translateY(-50%);
            background-color: var(--hospital-main-color);
        }
        h3 {
            margin-bottom: 10px;
            font: {
                size: 22px;
                family: var(--hospital-font-family);
            };
        }
        p {
            font-family: var(--hospital-font-family);
            color: var(--paragraph-color2);

            a {
                display: block;
                color: var(--paragraph-color2);

                &:hover {
                    color: var(--hospital-main-color);
                }
            }
        }
    }
    .shape {
        position: absolute;
        z-index: -1;
        right: 0;
        top: 0;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .hospital-information-card {
        padding: 20px;
    
        .content {
            padding-left: 0;
    
            .icon {
                top: 0;
                width: 60px;
                height: 60px;
                font-size: 35px;
                line-height: 65px;
                position: relative;
                margin-bottom: 15px;
                transform: translateY(0);
            }
            h3 {
                margin-bottom: 8px;
                font-size: 18px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .hospital-information-card {
        padding: 25px;
        
        .content {
            .icon {
                font-size: 40px;
            }
            h3 {
                font-size: 20px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .hospital-information-card {
        padding: 25px;
    
        .content {
            padding-left: 0;
    
            .icon {
                top: 0;
                position: relative;
                margin-bottom: 20px;
                transform: translateY(0);
            }
        }
    }

}
.card_hover:hover {
    background-color: #f8f9fa; /* Change the background color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a box shadow on hover */
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}

.skin_arth_buttons{
    // opacity: 0;
    background: none;
    outline: none;
    border: none;
}

.skin-care-services-card {
    margin-bottom: 25px;
    transition: var(--transition);

    .services-image {
        position: relative;

        .icon {
            background-color: var(--main-color2);
            transition: var(--transition);
            color: var(--white-color);
            border-radius: 50px;
            position: absolute;
            text-align: center;
            font-size: 50px;
            bottom: -30px;
            height: 100px;
            width: 100px;
            left: 30px;

            i {
                left: 0;
                right: 0;
                top: 50%;
                line-height: 1;
                margin-top: 2px;
                position: absolute;
                transform: translateY(-50%);
            }
        }
    }
    .services-content {
        padding: 55px 30px 30px;
        transition: var(--transition);
        background-color: var(--white-color);

        h3 {
            margin-bottom: 12px;
            font: {
                size: 24px;
                weight: 500;
                family: var(--font-family2);
            };
            a {
                color: var(--black-color2);
            }
        }
        p {
            transition: var(--transition);
            color: var(--paragraph-color2);
        }
    }
    &:hover {
        transform: translateY(-5px);

        .services-image {
            .icon {
                background-color: var(--white-color);
                color: var(--main-color2);
            }
        }
        .services-content {
            background-color: var(--main-color2);
    
            h3 {
                color: var(--white-color);

                a {
                    color: var(--white-color);
                }
            }
            p {
                color: var(--white-color);
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .skin-care-services-card {
        // .services-image {
        //     .icon {
        //         font-size: 30px;
        //         bottom: -20px;
        //         height: 60px;
        //         width: 60px;
        //         left: 20px;
        //     }
        // }
        .services-content {
            padding: 35px 20px 20px;
    
            h3 {
                margin-bottom: 10px;
                font-size: 19px;
            }
        }
    }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .skin-care-services-card {
        .services-image {
            .icon {
                font-size: 40px;
                bottom: -25px;
                height: 80px;
                width: 80px;
                left: 25px;
            }
        }
        .services-content {
            padding: 45px 25px 25px;
    
            h3 {
                font-size: 21px;
            }
        }
    }
    .card {
        width: 350px;
        height: 350px;  
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .skin-care-services-card {
        .services-image {
            position: relative;
    
            .icon {
                font-size: 40px;
                bottom: -25px;
                height: 80px;
                width: 80px;
                left: 25px;
            }
        }
        .services-content {
            padding: 45px 25px 25px;
    
            h3 {
                font-size: 23px;
            }
        }
    }
    .card {
        width: 450px;
        height: 450px;  
    }

}
// .prfImgs{
//     object-fit: contain;
//     width: 100%;
//     height: 100%;
// }

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .card {
        width: 500px;
        height: 500px;  
    }
}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {
    .card {
        width: 500px;
        height: 500px;  
    }
}
// .skin-care-services-card {
//     height: 0;
//     padding-bottom: 100%; /* 1:1 aspect ratio (square) */
// }

.services-content {
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
// ----------------------------
// .card {
//     max-width: 500px;
//     max-height: 500px;
// }

// .card:hover {
//     background-color: #f8f9fa;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
// }

.card {
    transition: all 0.5s;  
}
.card:hover{
    background-color: #3DBD8D;
    h5{
        color: #fffdfd;
    }
    p{
        color: #fffdfd;
    }
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Ensure the iframe takes full size of the card */
iframe {
    width: 100%;
    height: 100%;
}
