<!-- bg-eff8fb -->
<div class="skin-care-before-after-area ptb-100">
    <div class="container-fluid">
        <div class="section-title">
            <!-- <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Before and After
            </span> -->
            <h2>Office Tour</h2>
        </div>
        <div class="skin-care-before-after-slides">
            <owl-carousel-o [options]="beforeAfterSlides">
                <ng-template carouselSlide>
                    <div class="skin-care-before-after-card">
                        <img src="../../../../assets/images/office imgs/1.png" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="skin-care-before-after-card">
                        <img src="../../../../assets/images/office imgs/2.png" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="skin-care-before-after-card">
                        <img src="../../../../assets/images/office imgs/3.png" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="skin-care-before-after-card">
                        <img src="../../../../assets/images/office imgs/4.png" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="skin-care-before-after-card">
                        <img src="../../../../assets/images/office imgs/5.png" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="skin-care-before-after-card">
                        <img src="../../../../assets/images/office imgs/6.png" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="skin-care-before-after-card">
                        <img src="../../../../assets/images/office imgs/7.png" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="skin-care-before-after-card">
                        <img src="../../../../assets/images/office imgs/8.png" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="skin-care-before-after-card">
                        <img src="../../../../assets/images/office imgs/9.png" alt="image">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>