
<!-- <p>prp-facial works!</p> -->


<!-- Page Banner -->
<div
    class="page-banner-area three ptb-100"
    style="background-image: url(../../../../assets/images/bannerImgs/Dex\ Detox.png);
    width: 100%; height: 82vh; object-fit: contain; overflow: hidden"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Dex Detox</h2>
            <ul class="pages-list">
                <li><a routerLink="/home">Home</a></li>
                
                <li>Beauty Model/Face</li>
                <li>Dex Detox</li>
            </ul>
        </div>
    </div>
</div>

<div class="page-banner-area osteoText ptb-100">
    <div class="container">
        <p>Embark on a transformative journey with DexDetox, a groundbreaking solution for Neck Lift 
            that sidesteps invasive surgical procedures. Discover an innovative approach that leverages 
            the potential of Platelet-Rich Plasma (PRP) to rejuvenate your neck, helping you achieve a 
            more youthful and revitalized appearance. Bid farewell to the signs of aging, sagging skin, 
            and volume loss with this cutting-edge PRP treatment</p>
    </div>
</div>

<div class="container pt-100 pb-75">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/dex detox.png" alt="choose-image">
                <!-- <button class="video-btn" (click)="openPopup()">
                    <i class='bx bx-play'></i>
                </button> -->
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <!-- <span class="sub-title">
                    <i class="flaticon-198-hashtag-1"></i>
                    Why Choose Us
                </span> -->
                <h2>The Treatment</h2>
                <!-- <p>The PRP Facial is rooted in the principles of regenerative aesthetics and involves a simple 
                    process</p> -->
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>  Blood Sample Collection
                    </h4>
                    <p>The process commences with the collection of a minor 
                        blood sample, typically from the arm. This sample serves as the source of essential 
                        components required for the PRP treatment.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Precise Centrifugation
                    </h4>
                    <p>The extracted blood sample undergoes meticulous 
                        centrifugation, a process that separates it into its vital components. This separation 
                        isolates the growth factors, stem cells, and platelets, which are crucial for the 
                        rejuvenation process.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Expert Injection
                    </h4>
                    <p>Skilled medical professionals, well-versed in PRP treatments, 
                        administer the PRP solution using precise injection techniques to ensure the solution 
                        effectively reaches the targeted areas, such as the neck.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Progressive Restoration
                    </h4>
                    <p>In contrast to immediate synthetic fillers that offer instant 
                        results, PRP operates at a cellular level. It stimulates collagen production and 
                        gradually restores volume and youthful definition over time.
                    </p>
                </div>
               
            </div>
        </div>
    </div>
</div>

<!-- cards -->
<div
    class="eye-care-features-area bg-eef9ff pt-100 pb-75"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-1.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Natural Regeneration
                        </h3>
                        <p>PRP stimulates the body's own collagen production, subtly 
                            restoring volume and firmness to the neck.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-2.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Safety First
                        </h3>
                        <p>As PRP is derived from your own body, the risk of allergic reactions or 
                            other adverse events is significantly reduced.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Versatility
                        </h3>
                        <p>PRP addresses a range of concerns, from fine lines to pronounced 
                            sagging, offering a flexible solution.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Lasting Results
                        </h3>
                        <p>PRP's effects mature over time, providing sustainable benefits due 
                            to ongoing collagen activation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Minimized Side Effects
                        </h3>
                        <p>PRP reduces the likelihood of lumps or overfilling, a 
                            common concern with traditional fillers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Non-Surgical Approach
                        </h3>
                        <p>DexDetox offers a non-surgical and minimally invasive 
                            method for neck rejuvenation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Frequently </span> Asked Questions</h3>
                    <!-- <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p> -->
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">


                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;" *ngFor="let item of faq">
                        <div class="card-header" id="headingOne" (click)="expand(item)">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{item.question}}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <!-- class="collapse" -->
                        <div  id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion" *ngIf="item.expand">
                            <div class="card-body">
                                {{item.answer}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a routerLink="/contact-us-3"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
