<!-- <p>prp-facial works!</p> -->


<!-- Page Banner -->
<div
    class="page-banner-area three ptb-100"
    style="background-image: url(../../../../assets/images/bannerImgs/Scar\ Regeneration.png);
    width: 100%; height: 82vh; object-fit: contain; overflow: hidden"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Scar Regenaration</h2>
            <ul class="pages-list">
                <li><a routerLink="/home">Home</a></li>
                
                <li>Scar Regenaration</li>
            </ul>
        </div>
    </div>
</div>

<div class="page-banner-area osteoText ptb-100">
    <div class="container">
        <p>Are scars affecting your skin's appearance and your confidence? Discover Tixel, a 
            revolutionary non-invasive treatment for scar improvement and skin rejuvenation. Harnessing 
            the power of thermal mechanical energy, Tixel uses a specialized titanium tip to create 
            microthermal zones on the skin, stimulating natural healing and reducing the appearance of 
            scars. Compared to traditional CO2 lasers, Tixel offers numerous advantages, including 
            safety, effectiveness, and reduced downtime. Whether you're dealing with acne scars, fine 
            lines, wrinkles, or stretch marks, Tixel might be the answer you've been searching for.</p>
    </div>
</div>

<div class="container pt-100 pb-75">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/scar regen.png" alt="choose-image">
                <!-- <button class="video-btn" (click)="openPopup()">
                    <i class='bx bx-play'></i>
                </button> -->
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <!-- <span class="sub-title">
                    <i class="flaticon-198-hashtag-1"></i>
                    Why Choose Us
                </span> -->
                <h2>The Treatment</h2>
                <!-- <p>The PRP Facial is rooted in the principles of regenerative aesthetics and involves a simple 
                    process</p> -->
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Microthermal Zones
                    </h4>
                    <p>Tixel treatment creates microthermal zones on the skin's 
                        surface using a specialized titanium tip. These zones are essential for stimulating 
                        natural healing processes.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Collagen Stimulation
                    </h4>
                    <p>By applying thermal mechanical energy, Tixel encourages the 
                        production of collagen. This crucial protein helps the skin become smoother, firmer, 
                        and more youthful in appearance.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Non-Invasive Approach:
                    </h4>
                    <p>Tixel is non-invasive, providing a pain-free and 
                        comfortable treatment experience for patients. It doesn't require needles, incisions, or 
                        invasive procedures.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Safety and Minimal Downtime
                    </h4>
                    <p>Tixel distinguishes itself from traditional CO2 
                        lasers by offering safe treatment without causing skin charring or post-inflammatory 
                        hyperpigmentation. While it may have slightly longer downtime (72 hours), the 
                        results are highly comparable.
                    </p>
                </div>
               
            </div>
        </div>
    </div>
</div>

<!-- cards -->
<div
    class="eye-care-features-area bg-eef9ff pt-100 pb-75"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-1.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Scar Reduction
                        </h3>
                        <p>Tixel is highly effective in reducing the appearance of scars, 
                            including acne scars and stretch marks, providing improved skin texture and tone.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-2.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Safety and Comfort
                        </h3>
                        <p>Patients can enjoy a safe and pain-free treatment experience 
                            with Tixel, thanks to its non-invasive approach and minimal risk of complications.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Quick Procedure
                        </h3>
                        <p>Tixel treatments are relatively quick, typically lasting between 30 
                            to 60 minutes, making it convenient to schedule and incorporate into your daily 
                            routine.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Reduced Downtime
                        </h3>
                        <p>While there is some downtime post-treatment (72 hours), the 
                            minimal interruption to daily activities makes it a practical option for many patients.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Improvement in Skin Appearance
                        </h3>
                        <p>Tixel treatment stimulates collagen production, 
                            leading to smoother, firmer, and younger-looking skin, with a visible decrease in the 
                            appearance of acne scars and fine lines.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            No Need for Laser Safety Measures
                        </h3>
                        <p>Unlike traditional lasers, Tixel doesn't emit 
                            lasers, eliminating the need for laser safety measures. This contributes to a more 
                            comfortable and anxiety-free experience during treatment.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Frequently </span> Asked Questions</h3>
                    <!-- <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p> -->
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">


                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;" *ngFor="let item of faq">
                        <div class="card-header" id="headingOne" (click)="expand(item)">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{item.question}}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <!-- class="collapse" -->
                        <div  id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion" *ngIf="item.expand">
                            <div class="card-body">
                                {{item.answer}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a routerLink="/contact-us-3"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>

