

<!-- Page Banner -->
<div
    class="page-banner-area three ptb-100"
    style="background-image: url(../../../../assets/images/bannerImgs/Microneedling.png);
    width: 100%; height: 82vh; object-fit: contain; overflow: hidden;"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Micro Needling</h2>
            <ul class="pages-list">
                <li><a routerLink="/home">Home</a></li>
                
                <li>Beauty Model/Face</li>
                <li>Micro Needling</li>
            </ul>
        </div>
    </div>
</div>

<div class="page-banner-area osteoText ptb-100">
    <div class="container">
        <!-- <p>PRF Fillers, short for Platelet-Rich Fibrin Fillers, represent a cutting-edge approach to facial 
            rejuvenation. Derived directly from your own blood, PRF Fillers specialize in reviving areas 
            that bear the marks of time. In contrast to Platelet-Rich Plasma (PRP), PRF offers a more 
            concentrated blend of white blood cells, stem cells, fibrin, and growth factors – all vital 
            components for stimulating collagen and revitalizing the skin. This makes PRF an all-natural 
            filler that harnesses your body's healing mechanisms for authentic, age-defying results</p> -->
            <p>
                Our microneedling procedure is performed by trained providers using Dr. Pen, a revolutionary skincare microneedling device that stimulates collagen production with tiny sterilized needles. This technique aims to tighten, lift, and rejuvenate the skin.
            </p>
    </div>
</div>

<div class="container pt-100 pb-75">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/micro needling.png" alt="choose-image">
                <!-- <button class="video-btn" (click)="openPopup()">
                    <i class='bx bx-play'></i>
                </button> -->
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <!-- <span class="sub-title">
                    <i class="flaticon-198-hashtag-1"></i>
                    Why Choose Us
                </span> -->
                <h2>The Treatment</h2>
                <!-- <p>We offer one of the most effective treatment, which is a combination of Fluoroscopy, Arthrogram, and AARP injection</p> -->
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Micro-Injuries for Collagen Stimulation
                    </h4>
                    <p> Microneedling introduces controlled 
                        micro-injuries via tiny needles to stimulate collagen production, a process known as 
                        collagen induction therapy. This enhances natural collagen, diminishes scars, reduces 
                        fine lines and wrinkles, and balances skin tone.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4> Elevate the Microneedling Experience with PRP
                    </h4>
                    <p>The combination of the Dr. Pen 
                        microneedling device and PRP serum accelerates skin rejuvenation. The Dr. Pen 
                        creates micro-wounds, driving collagen synthesis and augmenting the skin's youthful 
                        appearance.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4> Microneedling Beyond the Face
                    </h4>
                    <p> While most commonly used on the face, 
                        microneedling can also be beneficial for the neck and chest, promoting a more 
                        youthful appearance in these areas
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4> Harnessing the Power of PRP
                    </h4>
                    <!-- <p>To maximize outcomes, Dr. Pen's prowess is 
                        integrated with Platelet-Rich Plasma (PRP), leveraging the body's growth factors for 
                        skin rejuvenations
                    </p> -->
                    <p>
                        To maximize outcomes, Dr. Pen is integrated with Platelet-Rich Plasma (PRP), leveraging the body's growth factors for skin rejuvenation.
                    </p>
                </div>
               
            </div>
        </div>
    </div>
</div>

<!-- cards -->
<div
    class="eye-care-features-area bg-eef9ff pt-100 pb-75"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-1.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Natural Collagen Stimulation
                        </h3>
                        <p> Microneedling enhances the body's natural collagen 
                            production, revitalizing and reshaping facial areas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-2.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Safety Profile
                        </h3>
                        <p>Microneedling with PRP minimizes the risk of allergic reactions, as 
                            the treatment uses the patient's own blood components
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Non-Surgical Approach
                        </h3>
                        <p>Microneedling offers a non-surgical and minimally 
                            invasive approach to facial rejuvenation, avoiding the need for extensive procedures.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Adaptable Solutions
                        </h3>
                        <p>Microneedling offers a non-surgical and minimally 
                            invasive approach to facial rejuvenation, avoiding the need for extensive procedures.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Lasting Results
                        </h3>
                        <p>While the results of microneedling are gradual, they persist over 
                            time due to sustained collagen activation, providing enduring benefits
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Minimal Side Effects
                        </h3>
                        <p>The organic nature of microneedling ensures fewer 
                            complications, making it a safe and effective option for skin rejuvenation
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Frequently </span> Asked Questions</h3>
                    <!-- <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p> -->
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">


                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;" *ngFor="let item of faq">
                        <div class="card-header" id="headingOne" (click)="expand(item)">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{item.question}}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <!-- class="collapse" -->
                        <div  id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion" *ngIf="item.expand">
                            <div class="card-body">
                                {{item.answer}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a routerLink="/contact-us-3"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>