
<!-- Page Banner -->
<div
    class="page-banner-area three ptb-100"
    style="background-image: url(../../../../assets/images/bannerImgs/Stretch\ marks.png);
    width: 100%; height: 82vh; object-fit: contain; overflow: hidden"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Stretch Marks Removal</h2>
            <ul class="pages-list">
                <li><a routerLink="/home">Home</a></li>
                <li>Cosmetics</li>
                <li>Stretch Marks Removal</li>
            </ul>
        </div>
    </div>
</div>

<div class="page-banner-area osteoText ptb-100">
    <div class="container">
        <p>Stretch marks, often a result of rapid skin expansion during periods of growth, pregnancy, or 
            significant weight changes, can be a source of concern for many. We offer PRP (Platelet-Rich 
            Plasma) treatments designed to effectively address stretch marks, among other common skin 
            conditions. Our safe and minimally invasive procedures are performed by qualified registered 
            nurses in hygienic clinics. This innovative approach harnesses the natural healing power of 
            your blood, promoting collagen and elastin production, ultimately leading to firmer, younger looking skin. Say goodbye to stretch marks with our fast, chemical-free, and surgery-free 
            PRP treatments.</p>
    </div>
</div>

<div class="container pt-100 pb-75">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/stretch marks.png" alt="choose-image">
                <!-- <button class="video-btn" (click)="openPopup()">
                    <i class='bx bx-play'></i>
                </button> -->
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <!-- <span class="sub-title">
                    <i class="flaticon-198-hashtag-1"></i>
                    Why Choose Us
                </span> -->
                <h2>The Treatment</h2>
                <!-- <p>The PRP Facial is rooted in the principles of regenerative aesthetics and involves a simple 
                    process</p> -->
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>PRP for Collagen and Elastin
                    </h4>
                    <p>PRP (Platelet Rich Plasma) treatment stimulates the 
                        generation of collagen and elastin, vital for firmer and younger-looking skin. It's a 
                        fast, safe, and chemical-free procedure that doesn't require surgery or medication.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>PRP Skin Needling
                    </h4>
                    <p>PRP skin needling, a non-invasive treatment, leverages the 
                        healing power of your own blood to address various skin conditions, including stretch 
                        marks. It's a safe and efficient procedure typically performed by registered nurses in 
                        hygienic clinics.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Conditions Treated
                    </h4>
                    <p>PRP for stretch marks can also help with wrinkles, fine lines, 
                        acne scarring, uneven skin tone, and loose or sagging skin. Appointments are quick 
                        (30-45 minutes) with minimal recovery time.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>PRP Skin Needling Process
                    </h4>
                    <p>A small blood sample is processed and concentrated to 
                        create a healing PRP solution, applied to the target area using a specialized 
                        microneedler. Red LED light reduces inflammation and speeds up healing post-treatment.
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!-- cards -->
<div
    class="eye-care-features-area bg-eef9ff pt-100 pb-75"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-1.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Effective Relief
                        </h3>
                        <p>PRP treatments, including PRP for stretch marks, offer effective 
                            relief from a range of common skin conditions, promoting younger-looking, firmer 
                            skin by encouraging collagen and elastin production.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-2.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Non-Invasive and Chemical-Free
                        </h3>
                        <p>PRP treatments are non-invasive and don't 
                            require surgery, chemicals, or medications, ensuring minimal to non-existent recovery 
                            time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Safe and Hygienic
                        </h3>
                        <p>Experienced, qualified registered nurses perform PRP treatments 
                            in hygienic settings, ensuring patient safety. The use of the patient's own blood 
                            reduces the risk of complications.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Quick and Painless
                        </h3>
                        <p>PRP treatments are relatively quick and typically painless, 
                            allowing patients to resume their daily activities promptly.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Personalized Care
                        </h3>
                        <p>Patients receive personalized care from experts in PRP 
                            treatments, enhancing the likelihood of successful results.                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Rare Side Effects
                        </h3>
                        <p>While side effects are rare, some individuals may experience 
                            temporary redness or tenderness in the treated area, which should pass within a short 
                            time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Frequently </span> Asked Questions</h3>
                    <!-- <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p> -->
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;" *ngFor="let item of faq">
                        <div class="card-header" id="headingOne" (click)="expand(item)">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{item.question}}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <!-- class="collapse" -->
                        <div  id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion" *ngIf="item.expand">
                            <div class="card-body">
                                {{item.answer}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a routerLink="/contact-us-3"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>

