<!-- <p>prp-facial works!</p> -->


<!-- Page Banner -->
<div
    class="page-banner-area three ptb-100"
    style="background-image: url(../../../../assets/images/bannerImgs/PRP\ Facial.png);
    width: 100%; height: 82vh; object-fit: contain; overflow: hidden"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>PRP Facial</h2>
            <ul class="pages-list">
                <li><a routerLink="/home">Home</a></li>
                
                <li>Beauty Model/Face</li>
                <li>PRP Facial</li>
            </ul>
        </div>
    </div>
</div>

<div class="page-banner-area osteoText ptb-100">
    <div class="container">
        <p>In the quest for youthful, radiant skin, the battle against the visible signs of aging has often 
            seemed daunting. But there's a cutting-edge solution that taps into your body's own 
            remarkable ability to heal and renew. Welcome to the world of PRP Facials, short for 
            Platelet-Rich Plasma Facials, where we unveil the power of your body's innate regenerative 
            potential. It's a non-invasive journey to rediscover your skin's vitality and youthful glow, 
            naturally.</p>
    </div>
</div>

<div class="container pt-100 pb-75">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/prp facing.png" alt="choose-image">
                <!-- <button class="video-btn" (click)="openPopup()">
                    <i class='bx bx-play'></i>
                </button> -->
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <!-- <span class="sub-title">
                    <i class="flaticon-198-hashtag-1"></i>
                    Why Choose Us
                </span> -->
                <h2>The Treatment</h2>
                <p>The PRP Facial is rooted in the principles of regenerative aesthetics and involves a simple 
                    process</p>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4> Blood Extraction
                    </h4>
                    <p>The process begins by drawing a small blood sample from your 
                        arm, which serves as the source of vital components required for the PRP Facial
                    </p>
                </div>
                <!-- //////// -->
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4> Centrifugation
                    </h4>
                    <p>The enriched plasma is skillfully reintroduced into specific 
                        facial areas, ensuring accurate targeting and optimized results
                    </p>
                </div>
               
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Collagen Stimulation
                    </h4>
                    <p>The blood is then spun down in a centrifuge at high speed to separate the red blood cells from the platelets and plasma, leaving behind platelet-rich plasma filled with growth factors and cytokines.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Plasma Enrichment
                    </h4>
                    <p>This sample is then meticulously refined to concentrate 
                        platelets, which are packed with essential growth factors and proteins needed for 
                        effective skin rejuvenation
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4> Precise Reintroduction
                    </h4>
                    <p>The enriched plasma is skillfully reintroduced into specific 
                        facial areas, ensuring accurate targeting and optimized results
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- cards -->
<div
    class="eye-care-features-area bg-eef9ff pt-100 pb-75"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-1.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Quick & Convenient
                        </h3>
                        <p>Swift one-hour treatment
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-2.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Comfortable
                        </h3>
                        <p>Minimally invasive, comfortable experience
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Collagen Boost
                        </h3>
                        <p>Stimulates collagen synthesis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Durable Results
                        </h3>
                        <p>Maintains skin texture and tone.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Improved Hydration
                        </h3>
                        <p>Enhances skin's moisture retention
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Minimal Reactions
                        </h3>
                        <p>Few adverse effects.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Frequently </span> Asked Questions</h3>
                    <!-- <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p> -->
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">


                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;" *ngFor="let item of faq">
                        <div class="card-header" id="headingOne" (click)="expand(item)">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{item.question}}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <!-- class="collapse" -->
                        <div  id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion" *ngIf="item.expand">
                            <div class="card-body">
                                {{item.answer}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a routerLink="/contact-us-3"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
