<div
    class="page-banner-area three ptb-100"
    style="background-image: url(../../../../assets/images/bannerImgs/Osteoarthritis.png);
    width: 100%; height: 82vh; object-fit: contain; overflow: hidden"
>
    <div class="container">
        <div class="page-banner-content">
            <h2 class="headingTxt">Osteoarthritis Treatment</h2>
            <ul class="pages-list">
                <li><a routerLink="/home">Home</a></li>
                <li class="headingTxt">Osteoarthritis Treatment</li>
            </ul>
        </div>
    </div>
</div>

<div class="page-banner-area osteoText ptb-100">
    <div class="container">
        <p >Osteoarthritis is a common joint condition that can cause debilitating pain, stiffness, and inflammation. If you're suffering from osteoarthritis, you know how much it can interfere with your daily life.
        At our clinic, we offer advanced treatment to help you manage your osteoarthritis pain and improve your function. Let it be any joint - your knee or your shoulder, we got you covered!</p>
    </div>
</div>
<div class="skin-care-services-area pt-100 pb-75 bg-eff8fb">
    <div class="container">
        <div  class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a class="d-block">
                            <img src="../../../../assets/images/orth/11.png" alt="image">
                        </a>
                 
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/osteoarthritis">
                                <!-- <li routerLink="/osteoarthritis" >
                                    <a>Knee</a>
                                </li> -->
                                <a routerLink="/osteoarthritis">
                                    Knee
                                </a>
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a class="d-block">
                            <img class="prfImgs" src="../../../../assets/images/orth/10.png" alt="image">
                        </a>
                      
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/osteoarthritis">
                                Shoulder
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a  class="d-block">
                            <img class="prfImgs" src="../../../../assets/images/orth/12.png" alt="image">
                        </a>
                
                    </div>
                    <div class="services-content">
                        <h3>
                            <a >
                                Hip
                            </a>
                        </h3>
                        
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<div
    class="eye-care-features-area pt-100 pb-75"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-1.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Precise Diagnosis
                        </h3>
                        <p>Real-time X-ray pinpoints joint issues, aiding accurate treatment for osteoarthritis pain, stiffness, and inflammation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-2.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Improved Functionality
                        </h3>
                        <p>Targeting root causes, our treatment promotes better joint functionality, enhancing mobility and daily activities.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Rapid Recovery
                        </h3>
                        <p>Our advanced treatment ensures a speedy recovery from osteoarthritis symptoms, minimizing downtime and restoring normalcy.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>Customized Care
                        </h3>
                        <p>Tailored treatment plans address individual needs, ensuring personalized care for optimal osteoarthritis management and patient satisfaction.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Minimized Side Effects
                        </h3>
                        <p>The carefully curated combination minimizes adverse effects, providing effective osteoarthritis relief with a focus on patient well-being.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Long-lasting Results
                        </h3>
                        <p>Beyond immediate relief, our treatment aims for enduring benefits, offering sustained improvements in pain reduction and joint function.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-100 pb-75">
    <div class="row align-items-center">
        <div class="col-lg-5 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/osteo.png" alt="choose-image">
                <!-- <button class="video-btn" (click)="openPopup()">
                    <i class='bx bx-play'></i>
                </button> -->
            </div>
        </div>
        <div class="col-lg-1 col-md-12">
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <!-- <span class="sub-title">
                    <i class="flaticon-198-hashtag-1"></i>
                    Why Choose Us
                </span> -->
                <h2>The Treatment</h2>
                <p>We offer one of the most effective treatment, which is a combination of Fluoroscopy, Arthrogram, and AARP injection</p>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Fluoroscopy</h4>
                    <p>Real-time X-ray imaging for accurate diagnosis of joint pain and inflammation.</p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Arthrogram</h4>
                    <p>Detailed view of joint structures with contrast dye to identify tears, loose bodies, and inflammation.</p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>AARP injection</h4>
                    <p>Powerful healing agent with concentrated platelets, lubricant to reduce friction and pain, and medication to reduce inflammation.</p>
                </div>
                <br>
                <p>
                    When used in combination, it can be a highly effective treatment for your osteoarthritis pain. This treatment combination can help to reduce pain, improve function, and slow the progression of the condition.</p>
            </div>
        </div>
    </div>
</div>


<!-- FAQ -->
<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Frequently </span> Asked Questions</h3>
                    <!-- <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p> -->
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;" *ngFor="let item of faq">
                        <div class="card-header" id="headingOne" (click)="expand(item)">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{item.question}}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <!-- class="collapse" -->
                        <div  id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion" *ngIf="item.expand">
                            <div class="card-body">
                                {{item.answer}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a routerLink="/contact-us-3"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>



