
<!-- Page Banner -->
<div
    class="page-banner-area three ptb-100"
    style="background-image: url(../../../../assets/images/bannerImgs/Hair\ removal.png);
    width: 100%; height: 82vh; object-fit: contain; overflow: hidden"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Hair Removal</h2>
            <ul class="pages-list">
                <li><a routerLink="/home">Home</a></li>
                <li>Hair Removal</li>
            </ul>
        </div>
    </div>
</div>

<div class="page-banner-area osteoText ptb-100">
    <div class="container">
        <p>Are you tired of the hassle, discomfort, and short-lived results of traditional hair removal 
            methods? Say hello to Soprano, the pioneering solution for hair removal that fuses efficiency 
            with unprecedented comfort. Bid farewell to shaving, waxing, and plucking and welcome a 
            cutting-edge approach that prioritizes your well-being while delivering enduring results. At 
            Soprano, we understand that the path to smooth, hair-free skin should be as pleasant as the 
            outcome.</p>
    </div>
</div>

<div class="container pt-100 pb-75">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/hair removal.png" alt="choose-image">
                <!-- <button class="video-btn" (click)="openPopup()">
                    <i class='bx bx-play'></i>
                </button> -->
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <!-- <span class="sub-title">
                    <i class="flaticon-198-hashtag-1"></i>
                    Why Choose Us
                </span> -->
                <h2>The Treatment</h2>
                <!-- <p>The PRP Facial is rooted in the principles of regenerative aesthetics and involves a simple 
                    process</p> -->
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Innovative Laser Technology
                    </h4>
                    <p>: Soprano employs state-of-the-art laser technology 
                        designed to deliver gradual heat to hair follicles, reducing discomfort while 
                        maximizing efficacy.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Virtually Painless Experience
                    </h4>
                    <p>Soprano's unique heating and energy delivery system 
                        make the treatment virtually painless, setting a new standard for comfort.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Suitable for All Skin Types
                    </h4>
                    <p>: Soprano is safe and effective for all skin types, including 
                        tanned skin, making it a versatile option.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Fast Treatment Sessions
                    </h4>
                    <p>Soprano offers swift treatment sessions, ensuring your 
                        convenience and minimizing the time spent.                        
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Reduction of Ingrown Hairs
                    </h4>
                    <p>Say goodbye to ingrown hairs with Soprano, ensuring 
                        smoother and bump-free skin.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>No Downtime
                    </h4>
                    <p> After a Soprano treatment, there's no downtime, allowing you to 
                        resume your daily activities immediately.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Safe and FDA-Approved
                    </h4>
                    <p>Rest assured that Soprano is both safe and FDA-approved, 
                        meeting the highest standards for your well-being.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Unique Combination
                    </h4>
                    <p>Soprano's diode laser system combined with the SHR (Super 
                        Hair Removal) method guarantees a virtually painless experience with exceptional 
                        results.
                    </p>
                </div>
               
            </div>
        </div>
        
    </div>
</div>

<!-- cards -->
<div
    class="eye-care-features-area bg-eef9ff pt-100 pb-75"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-1.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Virtually Pain-Free
                        </h3>
                        <p>Soprano provides a nearly painless hair removal experience, 
                            ensuring maximum comfort during and after the treatment.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-2.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Suitable for All Skin Types
                        </h3>
                        <p>Regardless of your skin type, Soprano is safe and 
                            effective, offering a solution for everyone.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Quick and Convenient
                        </h3>
                        <p>Soprano's fast treatment sessions save you time, making it 
                            easy to fit into your schedule.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Reduction of Ingrown Hairs
                        </h3>
                        <p>With Soprano, you can enjoy smoother skin free from 
                            ingrown hairs, leading to a more enjoyable experience.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            No Downtime
                        </h3>
                        <p>Following a Soprano treatment, you can return to your regular 
                            activities immediately, without any recovery period.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Safe and FDA-Approved
                        </h3>
                        <p>Soprano meets the highest safety standards and is FDA-approved, ensuring peace of mind for all patients.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Frequently </span> Asked Questions</h3>
                    <!-- <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p> -->
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;" *ngFor="let item of faq">
                        <div class="card-header" id="headingOne" (click)="expand(item)">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{item.question}}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <!-- class="collapse" -->
                        <div  id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion" *ngIf="item.expand">
                            <div class="card-body">
                                {{item.answer}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a routerLink="/contact-us-3"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
