
<!-- Page Banner -->
<div
    class="page-banner-area three ptb-100"
    style="background-image: url(../../../../assets/images/bannerImgs/o\ shot.png);
    width: 100%; height: 82vh; object-fit: contain; overflow: hidden;"
>
    <div class="container">
        <div class="page-banner-content">
            <h2 class="headingTxt">O' Shot</h2>
            <ul class="pages-list">
                <li><a routerLink="/home">Home</a></li>
                <li class="headingTxt">Sexual Health</li>
                <li class="headingTxt">O' Shot</li>
            </ul>
        </div>
    </div>
</div>

<div class="page-banner-area osteoText ptb-100">
    <div class="container">
        <p>The O Shot®, also known as the Orgasm Shot, is a groundbreaking non-surgical vaginal rejuvenation treatment. This innovative procedure utilizes the healing potential of your own blood by transforming it into Platelet-Rich Plasma (PRP). The PRP, rich in essential nutrients and peptides, is then skillfully injected into the vaginal and clitoral tissue. The result is not only a rejuvenated intimate area but also a remarkable enhancement 
            in sexual well-being. Patients who undergo the O Shot® commonly report increased libido, alongside the added benefit of intensified orgasms.</p>
    </div>
</div>

<div
    class="eye-care-features-area bg-eef9ff pt-100 pb-75"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-1.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                                Increased Libido
                        </h3>
                        <p>The O-Shot rejuvenates intimate tissues, often leading to an increase in sexual desire.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-2.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Enhanced Orgasm Intensity
                        </h3>
                        <p>Patients commonly report experiencing more intense and satisfying orgasms after the O-Shot.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Pain Reduction and Comfort
                        </h3>
                        <p>The treatment can reduce pain during intercourse, providing relief for individuals experiencing dyspareunia (painful intercourse).
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Treatment for Urinary Incontinence
                        </h3>
                        <p>The O-Shot has been shown to help with urinary incontinence, both urge and stress incontinence.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Relief from Vaginal Dryness
                        </h3>
                        <p>The O-Shot can help alleviate vaginal dryness, improving comfort and lubrication.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-75 pb-75 col-sm-6">
                <div class="eye-care-features-card">
                    <!-- <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div> -->
                    <div class="features-content">
                        <h3>
                            Improved Vulva Skin Texture
                        </h3>
                        <p>The procedure is known to enhance the skin texture around the vulva, resulting in a younger and smoother appearance.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-100 pb-75">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/o shot.png" alt="choose-image">
                <!-- <button class="video-btn" (click)="openPopup()">
                    <i class='bx bx-play'></i>
                </button> -->
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <!-- <span class="sub-title">
                    <i class="flaticon-198-hashtag-1"></i>
                    Why Choose Us
                </span> -->
                <h2>The Treatment</h2>
                <!-- <p>We offer one of the most effective treatment, which is a combination of Fluoroscopy, Arthrogram, and AARP injection</p> -->
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Assessment and Preparation 
                    </h4>
                    <p>Once you're approved as an O Shot® candidate, a topical numbing agent is applied externally to ensure comfort during the procedure.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Blood Collection and Processing 
                    </h4>
                    <p>A small blood sample is drawn and processed in a centrifuge to isolate the gold-colored, nutrient-dense plasma, which will be used for the treatment.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>PRP Injection 
                    </h4>
                    <p>The PRP serum is skillfully injected into the clitoris and vaginal opening to activate stem cells and kickstart tissue regeneration.
                    </p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Post-Treatment Benefits and Follow-Up 
                    </h4>
                    <p>Experience improved sexual function and appearance, and schedule your follow-up appointment for optimalc results.
                    </p>
                </div>
               
            </div>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Frequently </span> Asked Questions</h3>
                    <!-- <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p> -->
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">


                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;" *ngFor="let item of faq">
                        <div class="card-header" id="headingOne" (click)="expand(item)">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{item.question}}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <!-- class="collapse" -->
                        <div  id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion" *ngIf="item.expand">
                            <div class="card-body">
                                {{item.answer}}
                            </div>
                        </div>
                    </div>
                    
                    <!-- <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingOne" (click)="expand()">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How can I install this app?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div  id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion" *ngIf="isExpand">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quidem facere deserunt sint animi sapiente vitae suscipit.</p>
                                <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwo">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">The apps isn't installing?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quidem facere deserunt sint animi sapiente vitae suscipit.</p>
                                <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Contact form isn't working?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quidem facere deserunt sint animi sapiente vitae suscipit.</p>
                                <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a routerLink="/contact-us-3"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>